---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-3xl text-center mt-10 font-bold">About</h1>
  <p class="text-center mt-4">
    Get Metadata is a tool that allows you to get the metadata of a website.
  </p>
</Layout>
