---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header class="flex flex-col items-center justify-center gap-4 my-8">
    <img src="/favicon.svg" alt="Get Metadata" class="size-20" />
    <h1 class="text-4xl font-bold">Get-Metadata</h1>
  </header>
  <p class="text-center mt-10">
    Get metadata including title, description, icon, og, etc. of a website
  </p>
</Layout>
